<!DOCTYPE html>
<html>
<head>
  <title>Building Permit Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_typescript_tag 'application.tsx' %>
  <%= action_cable_meta_tag %>
</head>

<body>
<%= yield %>
</body>
</html>
